{% extends "base.html" %}
{% block title %}<title>UNES</title>{% endblock %}


{% block content %} 

<div class="banner">
    <img src="/static/imagens/capa.png">
</div>

 
<div class="conteudo">

    <p style="font-size: 29px; font-weight: bold;">Sobre a universidade</p>
    <br>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus voluptatum deleniti unde dolorem eveniet quo, sapiente dolore ratione? Dolorem blanditiis sit quia placeat odit vel explicabo molestiae nostrum saepe natus.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quasi dolores ea dolor a maxime commodi illum ex ullam assumenda neque delectus quo, eaque nostrum repellat nam iure, blanditiis quas.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, similique iusto. Nisi, aperiam sit! Ullam facere unde dolorem impedit exercitationem, architecto sunt dolor commodi praesentium magni dolorum soluta eius dicta.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum architecto odio neque repellat nobis fuga, adipisci expedita! Asperiores sed pariatur, ipsam soluta, ullam laudantium consectetur rem quaerat, nobis aut et!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, a dignissimos doloribus magni optio fuga nobis cumque totam provident nesciunt obcaecati suscipit, nemo excepturi doloremque dolore ipsa ut, neque necessitatibus?
    </p>

</div>

{% endblock %}

